# Thư mục và tệp do Unity tạo ra cần bỏ qua
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Rr]ecordings/
[Uu]ser[Ss]ettings/

# Tệp và thư mục của hệ điều hành
.DS_Store
Thumbs.db

# Tệp và thư mục của IDE
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta

# Tệp Unity3D được tạo khi báo cáo sự cố
sysinfo.txt

# Tệp build
*.apk
*.aab
*.unitypackage

# Tệp do Crashlytics tạo ra
crashlytics-build.properties
fabric/
crashlytics/

# Tệp Addressable Assets đã đóng gói
*.bin
